<div class="page-content">  
  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <div class="date_message">
      <%= @band.name %>
    </div>

    <% @messages_by_date.each do |messages| %>
      <div class="date_message">
        Messages from <%= messages[0].strftime('%a, %b %e, %Y') %>
      </div>

      <%= render messages[1] %>
    <% end %>
  </div>  
</div>

<div class="page-footer">
  <div id="new_message" class="container" style="padding: 5px;">
    <%= form_for @message, url: '#' do |f| %>  
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="is-fullwidth">
            <%= f.text_field :body, class: 'input is-primary' %>
          </div>
        </div>
        <div class="control">
          <%= f.submit "Send", class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

