<h1>Add Gig</h1>

<%= form_for @gig do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.datetime_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.datetime_field :end_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_venue %>
    <%= f.text_field :location_venue, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_address_1 %>
    <%= f.text_field :location_address_1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_address_2 %>
    <%= f.text_field :location_address_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_city %>
    <%= f.text_field :location_city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_state %>
    <%= f.text_field :location_state, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_postal_code %>
    <%= f.text_field :location_postal_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location_country %>
    <%= f.text_field :location_country, class: 'form-control' %>
  </div>

  <%= f.submit "Go!", class: 'btn btn-primary' %>
<% end %>