<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>  

  <body>
    <div class="page">
      <div class="page-header">
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
              Giggable Planet
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Bleeding Out
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Bleeding Out
                  </a>
                  <a class="navbar-item">
                    Black Iron Prison
                  </a>
                  <a class="navbar-item">
                    Ilmestys
                  </a>              
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  primitive.tools@gmail.com
                </a>
                <a class="navbar-item">
                  Bleeding Out
                </a>
                <a class="navbar-item">
                  Black Iron Prison
                </a>
                <a class="navbar-item">
                  Ilmestys
                </a>              
              </div>
            </div>
          </div>
        </nav>
      </div>

      <%= yield %>      
    </div>    
  </body>
</html>